@using Haarlem_Festival.Models.View_Models.Jazz;
@model List<List<JazzTableView>>

@{ string functionName = Model[0][0].StartTime.DayOfWeek.ToString().ToLower() + "();";}
<button type="button" onclick="reset(); @functionName" class="tableButton ButtonActive">@Model[0][0].StartTime.DayOfWeek<br />@Model[0][0].StartTime.Day @Model[0][0].StartTime.ToString("MMMM")</button>


@for (int i = 1; i < Model.Count(); i++)
{
    string function = Model[i][0].StartTime.DayOfWeek.ToString().ToLower() + "();";
    <button type="button" onclick="@function" class="tableButton ButtonInactive">@Model[i][0].StartTime.DayOfWeek<br />@Model[i][0].StartTime.Day @Model[i][0].StartTime.ToString("MMMM")</button>
}

@foreach (List<JazzTableView> jazzTables in Model)
{
    <table class="table tableInactive">
        <tr>
            <th>Time</th>
            <th>Location</th>
            <th>Band</th>
            <th>Price</th>
            <th></th>
        </tr>

        @foreach (JazzTableView JEvent in jazzTables)
        {
            <tr>
                <td>@JEvent.Time</td>
                <td>@JEvent.Location</td>
                <td>@JEvent.Band</td>
                <td>@JEvent.Price</td>
                <td>
                    @if (JEvent.Price != "Free"){
                        <img class="cart" src="@Url.Content("~/Content/General/img/cart.png")" onclick="PopUp(@JEvent.Id, '@JEvent.Band')" />
                    }
                </td>
            </tr>
        }
    </table>
}


<p>With the passepartouts you can visit every band on that day. <br />Access for sunday is free, no reservation needed</p>

<script src="~/Scripts/JazzTable.js"></script>

<script>
    function PopUp(eventId, Name) {
        var x = document.getElementById("title");
        x.innerText = Name;
        var z = document.getElementsByName("EventId")[0];
        z.value = eventId;
        var y = document.getElementById("Popup");
        y.style.visibility = "visible";
        y.style.display = "block";
    }

    function Close() {
        var x = document.getElementById("Popup");
        x.style.visibility = "hidden";
        x.style.display = "none";
    }
</script>

<div id="Popup" class="Container">
    <button class="close" onclick="Close()"> X </button>
    <div>
        @using (Html.BeginForm("JazzOrder", "Jazz", FormMethod.Post))
        {
            <h1 id="title"></h1>
            <p>Amount of tickets</p>
            <select name="ticketAmount">
                @for (int i = 1; i < 20; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <input name="EventId" type="number" value="" style="display:none" />
            <button type="submit">Add</button>
        }
    </div>
</div>