

@using Haarlem_Festival.Models.View_Models.Jazz;

<button type="button" onclick="reset(); thursday()" class="tableButton ButtonActive">Thursday<br />25 July</button>
<button type="button" onclick="friday()" class="tableButton ButtonInactive">Friday<br />26 July</button>
<button type="button" onclick="saturday()" class="tableButton ButtonInactive">Saturday<br />27 July</button>
<button type="button" onclick="sunday()" class="tableButton ButtonInactive">Sunday<br />28 July</button>

<table class="table tableInactive">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Band</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (JazzTableView JEvent in ViewBag.JThursday)
    {
        <tr>
            <td>@JEvent.Time</td>
            <td>@JEvent.Location</td>
            <td>@JEvent.Band</td>
            <td>@JEvent.Price</td>
            <td>
                <img class="cart" src="@Url.Content("~/Content/General/img/cart.png")" onclick="JazzOrder(@JEvent.Id)" />
            </td>
        </tr>
    }
</table>

<table class="table tableInactive">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Band</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (JazzTableView JEvent in ViewBag.JFriday)
    {
        <tr>
            <td>@JEvent.Time</td>
            <td>@JEvent.Location</td>
            <td>@JEvent.Band</td>
            <td>@JEvent.Price</td>
            <td><img onclick="JazzOrder(@JEvent.Id)" class="cart" src="@Url.Content("~/Content/General/img/cart.png")" /></td>
        </tr>
    }
</table>

<table class="table tableInactive">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Band</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (JazzTableView JEvent in ViewBag.JSaturday)
    {
        <tr>
            <td>@JEvent.Time</td>
            <td>@JEvent.Location</td>
            <td>@JEvent.Band</td>
            <td>@JEvent.Price</td>
            <td><img onclick="JazzOrder(@JEvent.Id)" class="cart" src="@Url.Content("~/Content/General/img/cart.png")" /></td>
        </tr>
    }
</table>

<table class="table tableInactive">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Band</th>
        <th>Price</th>
    </tr>

    @foreach (JazzTableView JEvent in ViewBag.JSunday)
    {
        <tr>
            <td>@JEvent.Time</td>
            <td>@JEvent.Location</td>
            <td>@JEvent.Band</td>
            <td>@JEvent.Price</td>
        </tr>
    }
</table>
<p>With the passepartouts you can visit every band on that day. <br />Access for sunday is free, no reservation needed</p>

<script src="~/Scripts/JazzTable.js"></script>

<section class="modal fade" id="myModal" role="dialog">
    <section class="modal-dialog">
        @*PartialView*@
    </section>
</section>

<script type="text/javascript">
    function JazzOrder(currentId) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("JazzOrder", "Jazz")',
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }
</script>