@model Haarlem_Festival.Models.Domain_Models.Historic.HistoricEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoricEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guide.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guide.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
