@model Haarlem_Festival.Models.View_Models.Dance.Ticketview

<script type="text/javascript">
    function ChangeTab(a) {
        var x = document.getElementsByClassName("TicketTable");
        for (var i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(a).style.display = "table";
    }

    function PopUp(eventId, Name) {
        var x = document.getElementById("title");
        x.innerText = Name;
        var z = document.getElementsByName("EventId")[0];
        z.value = eventId;
        var y = document.getElementById("Popup");
        y.style.display = "block";
    }
    function Close() {
        var x = document.getElementById("Popup");
        x.style.display = "none";
    }
</script>


<button class="TicketsTab" disabled>No tickets for Thursday July 25th </button>
<button class="TicketsTab" onclick="ChangeTab('Friday')">Show tickets for Friday July 26th</button>
<button class="TicketsTab" onclick="ChangeTab('Saturday')">Show tickets for Saturday July 27th</button>
<button class="TicketsTab" onclick="ChangeTab('Sunday')">Show tickets for Sunday July 28th</button>


<table class="TicketTable" id="Friday">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Artist</th>
        <th>Session</th>
        <th>Price</th>
        <th>Add to cart</th>
    </tr>
    @foreach (Haarlem_Festival.Models.View_Models.Dance.TicketdayView a in Model.Friday)
    {
        <tr>
            <td>@a.Start</td>
            <td>@a.Location</td>
            <td>@a.Name</td>
            <td>@a.Session</td>
            <td>@a.Price</td>
            <td><button onclick="PopUp(@a.EventId,'@a.Name')"><img src="~/Content/General/img/cart.png" /></button></td>
        </tr>
    }
</table>

<table class="TicketTable" id="Saturday" style="display:none">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Artist</th>
        <th>Session</th>
        <th>Price</th>
        <th>Add to cart</th>
    </tr>
    @foreach (Haarlem_Festival.Models.View_Models.Dance.TicketdayView a in Model.Saturday)
    {
        <tr>
            <td>@a.Start</td>
            <td>@a.Location</td>
            <td>@a.Name</td>
            <td>@a.Session</td>
            <td>@a.Price</td>
            <td><button onclick="PopUp(@a.EventId, '@a.Name')"><img src="~/Content/General/img/cart.png" /></button></td>
        </tr>
    }
</table>

<table class="TicketTable" id="Sunday" style="display:none">
    <tr>
        <th>Time</th>
        <th>Location</th>
        <th>Artist</th>
        <th>Session</th>
        <th>Price</th>
        <th>Add to cart</th>
    </tr>
    @foreach (Haarlem_Festival.Models.View_Models.Dance.TicketdayView a in Model.Sunday)
    {
        <tr>
            <td>@a.Start</td>
            <td>@a.Location</td>
            <td>@a.Name</td>
            <td>@a.Session</td>
            <td>@a.Price</td>
            <td><button onclick="PopUp(@a.EventId, '@a.Name')"><img src="~/Content/General/img/cart.png" /></button></td>
        </tr>
    }
</table>

<div id="Popup" style="display:none">
    <button onclick="Close()"> X </button>
    @using (Html.BeginForm("AddTickets", "Dance", FormMethod.Post))
    {
        <h1 id="title"></h1>
        <p>Amount of tickets</p>
        <select name="ticketAmount" >
            @for (int i = 0; i < 20; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <input name="EventId" type="number" value="" style="display:none"/>
        <button type="submit">Add</button>
    }
</div>
