@model Haarlem_Festival.Models.View_Models.Dance.DanceView
@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/Home/HomeStyle.css")
    @Styles.Render("~/Content/General/GeneralStyle.css")
    @Styles.Render("~/Content/Dance/DanceStyle.css")
    @Styles.Render("~/Content/General/Table.css")
    @Styles.Render("~/Content/General/SlideShow.css")
    <script type="text/javascript" src="~/Scripts/JazzSlideShow.js"></script>
    <script type="text/javascript" src="~/Scripts/JazzTable.js"></script>
</head>

<section class="intro">
    <h1>Visit Haarlem Dance</h1>
    <p>
        Haarlem is one of the oldest cities in The Netherlands.
        At this festival you will find more about the city, the things only locals know.
        Discover Haarlem through many festival each located at a different part of the city.
        Discover Haarlem with a historic walk and combine it with a nice dinner at one of many restaurants.
        Enjoy dance parties from popular Dj's like Afrojack, Hardwell and Martin Garrix.
        You could also attend one of the nicest jazz performances.
    </p>
</section>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Tickets</h1>
    <span>---------------------------------------------------</span>
    <br />
</section>
    <section class="TicketsSection" id="Width">
        <!--Day before event button-->
        @{ DateTime dayBefore = Model.tabs[0][0].Start.Value.AddDays(-1);
            string functionName = dayBefore.ToString("dddd").ToLower() + "();";}
        <button type="button" onclick="reset(); @functionName" class="tableButton ButtonActive"> @dayBefore.ToString("dddd")<br />@dayBefore.ToString("dd MMMM")</button>

        <!-- Event days buttons-->
        @foreach (List<Haarlem_Festival.Models.View_Models.Dance.TicketdayView> list in Model.tabs)
        {
            string function = list[0].Start.Value.ToString("dddd").ToLower() + "();";
            <button type="button" onclick="@function" class="tableButton ButtonInactive">@list[0].Start.Value.ToString("dddd")<br />@list[0].Start.Value.ToString("dd MMMM")</button>

        }

        <!-- Sunday table, script houdt rekening met 4 dagen, design ook -->
        <table class="table tableInactive">
            <tr>
                <th>Time</th>
                <th>Location</th>
                <th>Artist</th>
                <th>Session</th>
                <th>Price</th>
                <th>Add</th>
            </tr>
            <tr>
                <td>There</td>
                <td>are</td>
                <td>no</td>
                <td>performances</td>
                <td>this</td>
                <td>day</td>
            </tr>
        </table>

        @foreach (List<Haarlem_Festival.Models.View_Models.Dance.TicketdayView> list in Model.tabs)
        {
            <table class="table tableInactive">
                <tr>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Artist</th>
                    <th>Session</th>
                    <th>Price</th>
                    <th>Add</th>
                </tr>

                @foreach (Haarlem_Festival.Models.View_Models.Dance.TicketdayView DanceEvent in list)
                {
                    <tr>
                        @if (DanceEvent.Start != null)
                        {
                            <td>@DanceEvent.Start.Value.ToString("HH:mm")</td>
                        }
                        else
                        {
                            <td></td>}
                        <td>@DanceEvent.Location</td>
                        <td>@DanceEvent.Name</td>
                        <td>@DanceEvent.Session</td>
                        <td>@DanceEvent.Price</td>
                        <td>
                            <img class="cart" onclick="PopUp(@DanceEvent.EventId, '@DanceEvent.Name')" src="@Url.Content("~/Content/General/img/cart.png")" />
                        </td>
                    </tr>
                }
            </table>

        }
        <script src="~/Scripts/JazzTable.js"></script>
        <p>
            * The capacity of the Club sessions is very limited. Availability for All-Access pas holders can not be garanteed due to safety regulations.
            <br />** TiëstoWorld is a special session spannig his careers work. There will also be some special guests.
        </p>
        <div id="Popup" class="Container">
            <button class="close" onclick="Close()"> X </button>
            <div>
                @using (Html.BeginForm("AddTickets", "Dance", FormMethod.Post))
                {
                    <h1 id="title"></h1>
                    <p>Amount of tickets</p>
                    <select name="ticketAmount">
                        @for (int i = 1; i < 20; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <input name="EventId" type="number" value="" style="display:none" />
                    <button type="submit">Add</button>
                }
            </div>
        </div>
    </section>
<section id="InfoTiles">
    <table>
        <tr>
            <td>
                Haarlem dance invites you to be part of an experience that Haarlem has never seen before.
                The top DJ's from the Netherlands, which in fact are the top DJ's from the world,
                are playing all over the city.<br /><br /> There will be some bigger shows as some smaller parties.
                The parties are held in special venues; for example in the '<i>Caprera openluchttheater</i>',
                '<i>Lichtfabriek</i>' and the '<i>Jopenkerk</i>'. You don't want to miss them , there has never been a dance party in these venue's.
                If you want to see them all you could also buy one of our special <b>all-access tickets</b>.
            </td>
            <td><img src="~/Content/Dance/img/Party.PNG" /></td>
        </tr>
        <tr>
            <td><img src="~/Content/Dance/img/Headphone.PNG" />  </td>
            <td>
                Haarlem festival is excited to announce that the jubilee from Tiësto will be held in the '<i>Lichtfabriek</i>'.
                There are also some special guests invited so your evening won't get boring.
                This special party is limited to +- 1500 people.<br /><br /> Have you ever heard from back-to-back mixes?
                Now you did! Back-to-back mixes are upcoming and done by many DJ's already.
                Back-to-back mixes are simply said that DJ's play together so that there own music is remixed by an other DJ.
                There just are a few special back-to-back mixes around the city, so check them quickly!
                Want to see them all? Check our <b>all-access</b> tickets!
            </td>
        </tr>
    </table>
</section>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Line Up</h1>
    <span>---------------------------------------------------</span>
</section>

<section class="SlideShow">
        @foreach (Haarlem_Festival.Models.Domain_Models.Dance.Artist a in Model.Artists)
        {
            <section class="Slide SlideCenter">
                <h1>@a.Name</h1>

                <section class="SlidesTextBox">
                    <p>@a.Description</p>
                </section>

                <img class="SlideImage" id="wtf" src="~/Content/Dance/img/@a.ImgUrl" />
            </section>
        }
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
</section>
<script src="~/Scripts/JazzSlideShow.js"></script>
