@model Haarlem_Festival.Models.View_Models.Tickets.TicketOverview
@{
    ViewBag.Title = "Tickets";
}

<head>
    @Styles.Render("~/Content/Tickets/TicketStyle.css")
</head>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Tickets</h1>
    <span>---------------------------------------------------</span>
</section>

<section id="ticketSection">
    <table class="table">
        <tr class="row">
            <th> Selected Event </th>
            <th> Price </th>
            <th> Amount </th>
            <th></th>
        </tr>
        @foreach (var ticket in Model.Tickets)
        {
            <tr class="row">
                <td>
                    @ticket.Event.EventName - @ticket.Event.StartTime
                    <br />
                    @if (ticket.SpecialRequest != null)
                    {
                        <b>@Html.DisplayNameFor(x => x.Tickets[0].SpecialRequest)</b>
                        <i> @ticket.SpecialRequest</i>
                    }

                </td>
                <td> €@ticket.Price,- </td>
                <td> @ticket.Amount </td>
                <td>
                    <a id="deleteTicket" href="@Url.Action("DeleteTicket", "Ticket", new { eventId = ticket.EventId })">
                        <img src="@Url.Content("~/Content/Tickets/img/cross.png")" />
                    </a>
                </td>
            </tr>
        }
    </table>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />
    <section id="ticketgeneralitems">
        <section class="row">
            <label id="ticketAmountlbl" class="col-lg-6"> Total tickets: @Model.TotalTickets </label>
            <label id="totalPricelbl" class="col-lg-6"> Total price: €@Model.TotalPrice,- </label>
        </section>

        <br />

        <section class="row">
            <button id="ticketleftbutton" class="col-lg-offset-1 col-lg-4 btn">Shop more tickets</button>
            <button id="ticketrightbutton" class="col-lg-offset-2 col-lg-4 btn" onclick="location.href='@Url.Action("Payment", "Ticket")'">Pay your tickets</button>
        </section>
    </section>
    <br />
</section>