@model Haarlem_Festival.Models.Input_Models.Tickets.Payment

@{
    ViewBag.Title = "Payment";
}

<head>
    @Styles.Render("~/Content/Tickets/TicketStyle.css")
</head>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Payment</h1>
    <span>---------------------------------------------------</span>
</section>

<section id="paymentform" class="container-fluid">
    @using (Html.BeginForm())
    {
        <section class="row">
            @Html.DisplayNameFor(formItem => formItem.FirstName)
            @Html.TextBoxFor(x => x.FirstName)
        </section>

        <section class="row">
            @Html.DisplayNameFor(formItem => formItem.LastName)
            @Html.TextBoxFor(x => x.LastName)
        </section>

        <section class="row">
            @Html.DisplayNameFor(formItem => formItem.DateOfBirth)
            @Html.TextBoxFor(x => x.DateOfBirth)
        </section>

        <section class="row">
            @Html.DisplayNameFor(formItem => formItem.Email )
            @Html.TextBoxFor(x => x.Email)
        </section>



        <button id="payButton" type="submit">Pay</button>
    }
</section>
