@model Haarlem_Festival.Models.Input_Models.Tickets.Payment

@{
    ViewBag.Title = "Payment";
}

<head>
    @Styles.Render("~/Content/Tickets/TicketStyle.css")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });

    function goBack() {
        window.history.back();
    }
</script>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Payment</h1>
    <span>---------------------------------------------------</span>
</section>

<section id="paymentform" class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <section class="row">
            <section class="col-lg-offset-1 col-lg-6">
                <section class="form-group">
                    @Html.LabelFor(formItem => formItem.FirstName, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                </section>

                <section class="form-group">
                    @Html.LabelFor(formItem => formItem.LastName, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                </section>

                <section class="form-group">
                    @Html.LabelFor(formItem => formItem.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </section>

                <section class="row">
                    <section class="form-group col-lg-6">
                        @Html.LabelFor(formItem => formItem.DateOfBirth, new { @class = "control-label" }) <br />
                        @Html.EditorFor(x => x.DateOfBirth, new { @class = "form-control" })
                    </section>

                    <section class="form-group col-lg-6">
                        @Html.LabelFor(formItem => formItem.PaymentMethods, new { @class = "control-label" }) <br />
                        @Html.DropDownListFor(formItem => formItem.SelectedPaymentMethod, new SelectList(Model.PaymentMethods), "Select payment method")
                    </section>
                </section>

            </section>
            <section class="col-lg-4" id="paymentsubtext">
                <p>
                    We don't want to store top much data about our customers. Once you've filled this form in, there is no way back to change details.
                    So we ask you to check this form carefully before submitting.
                    Once submitted, your data will be stored in a secure database.
                </p>
            </section>
        </section>

        <br />
        <button class="btn col-lg-offset-1 col-lg-4 previousbutton" onclick="location.href='@Url.Action("Index", "Ticket")'" type="button" > Previous </button>
        <button id="payButton" class="btn col-lg-offset-2 col-lg-4" type="submit">Pay</button>
    }
</section>
