@model Haarlem_Festival.Models.View_Models.Food.RestaurantBooking

<head>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax")
</head>

<section id="ticketbookingsection">
    <section class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title">Book @Model.RestaurantName</h3>
    </section>
    
    @using (Html.BeginForm("BookRestaurant", "Food", FormMethod.Post, new { id = "ticketformid" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(item => item.RestaurantName, new { restaurantName = Model.RestaurantName })
        @Html.HiddenFor(item => item.RestaurantId, new { restaurantId = Model.RestaurantId })
    <section class="container-fluid">
        <section class="row" id="dateSelect">
            <br />
            <label class="col-sm-offset-2 col-sm-4">Date:</label>
            <section class="col-sm-4">
                @Html.DropDownListFor(item => item.SelectedEvent,
                  new SelectList(Model.Events, "EventId", "StartTime"),
                  new { selectedEvent = Model.SelectedEvent })
            </section>
        </section>
        <section class="row" id="dateSelectSubtext">
            <p class="col-sm-offset-6 col-sm-4">The approximate time you have at this restaurant is @Model.TimeAvailable hours</p>
        </section>

        <hr />
        <section class="row" id="adultsorchildren">
            @Html.LabelFor(item => item.AdultTickets, new { @class = "col-sm-offset-2 col-sm-4"})
            <section class="col-sm-4">
                @Html.TextBoxFor(item => item.AdultTickets) 
                €@Html.DisplayFor(item => item.AdultPrice),- each
            </section> 
            <br /><br /><br />
            @Html.LabelFor(item => item.ChildTickets, new { @class = "col-sm-offset-2 col-sm-4" })
            <section class="col-sm-4">
                @Html.TextBoxFor(item => item.ChildTickets)
                €@Html.DisplayFor(item => item.ChildrenPrice),- each
            </section>
        </section>
        <hr />

        <section class="row" id="specialwishes">
            @Html.LabelFor(item => item.SpecialRequest)<br />
            <section class="col-sm-offset-1 col-sm-10">
                @Html.TextAreaFor(item => item.SpecialRequest, new { @placeholder = "E.G.: Allergies, special vegan wishes or 'do you have that particular wine?'" })
            </section>
        </section>

        <br />

        <section class="row">
            <button href="#" id="bookRestaurantSubmit" type="submit" class="col-sm-offset-1 col-sm-10 btn btn-primary">Add to Shoppingcart</button>
        </section>
    </section>
    }
</section>