@model IEnumerable<Haarlem_Festival.Models.View_Models.Food.RestaurantView>

@{
    ViewBag.Title = "Food";
}


<head>
    @Styles.Render("~/Content/Food/FoodStyle.css")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive")
    @Scripts.Render("~/bundles/jquery")
</head>

<section>
    <h1>Have a great dinner in Haarlem</h1>
    <p id="shortintro">
        Although Haarlem had not all particular well known culinary tradition there are lots of restaurants that are worth your while.
        Some of them created a special Haarlem festival menu at a reduced price. It is a great way to enjoy the posibilities of Haarlem. <br /><br />
        See the restaurants below for locations, prices and the type of food the restaurant serves. A reservation is mandatory.
    </p>
</section>

<section id="foodintro">
    <article>
        Scroll down to the restaurant section, look at the various restaurants and choose the one that appeals you the most.
        For French, you should check out Ratatouille! But if you want to try out some Dutch food, Restaurant ML, Restaurant Fris, Grand Café Brinkman and Urban Frenchy Bistro are a good idea!
        Pick a restaurant and add it to your cart!
    </article>
    <img src="~/Content/Food/img/food.png" />
    <img src="~/Content/Food/img/people.png" />
</section>

<section>
    <section class="title">
        <span>---------------------------------------------------</span>
        <h1>Tickets</h1>
        <span>---------------------------------------------------</span>
    </section>
    <table class="table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.PriceAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.PriceChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant.Cuisines)
            </th>
            <th>
                Order a ticket**
            </th>
        </tr>

        @foreach (var restaurant in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => restaurant.Restaurant.RestaurantName)
                </td>
                <td>
                    @String.Format("€{0:00.00}", restaurant.Restaurant.PriceAdults)
                </td>
                <td>
                    @String.Format("€{0:00.00}", restaurant.Restaurant.PriceChildren)
                </td>
                <td>
                    @String.Join(", ", restaurant.Restaurant.Cuisines.Select(x => x.Category))
                </td>
                <td>
                    <button id="loadEvents" data-toggle="modal" data-target="#MyModal" onclick="BookRestaurant(@restaurant.Restaurant.RestaurantID)">
                        <img class="cart" src="@Url.Content("~/Content/General/img/cart.png")" />
                    </button>
                </td>
            </tr>
        }
    </table>
    <section class="ticketcaption">
        * Reservation is mandatory.  A reservation fee of €10,- per person wil be charged when a reservation is made on the Haarlem Festival site.
        This fee will be deducted from the final check on visiting the restaurant.

        ** When ordering a ticket there will be an option to inform the restaurant for special requests regarding the food or service (allergies, wheelchair etc.)
    </section>
</section>


<section>
    <section class="title">
        <span>---------------------------------------------------</span>
        <h1>Restaurants</h1>
        <span>---------------------------------------------------</span>
    </section>

    @foreach (var item in Model)
    {
        <section class="restaurantTile">
            <section class="alignTileContent">
                <h2>@item.Restaurant.RestaurantName</h2>
                <section class="stars">
                    @Html.DisplayNameFor(x => x.Restaurant.Stars):
                    @for (int i = 1; i <= item.Restaurant.Stars; i++)
                    {
                        <img src="@Url.Content("~/Content/Food/img/star.png")" />
                    }
                </section> <br />
                <section class="googleReview">
                    @item.Review.text <br /> -
                    @item.Review.author_name
                </section>
            </section>
            <img id="restImg" src="@Url.Content("~/Content/Food/img/" + item.Restaurant.ImageLink)" />
            <br /><br />
            <section id="restaurantTileFooter">
                <p>
                    @Html.DisplayNameFor(x => x.Restaurant.Address): <br />
                    @item.Restaurant.Address
                </p>
                <span>
                    <img onclick="location.href='@item.Restaurant.RouteLink'"
                         src="@Url.Content("~/Content/Food/img/route.png")" />
                    <br /> @Html.DisplayNameFor(x => x.Restaurant.RouteLink)
                </span>
                <span>
                    <img onclick="location.href='@item.Restaurant.WebsiteLink'"
                         src="@Url.Content("~/Content/Food/img/www.png")" />
                    <br /> @Html.DisplayNameFor(x => x.Restaurant.WebsiteLink)
                </span>
            </section>
        </section>
    }
    <br />
</section>

<!-- Modal screen: -->
<section class="modal fade" id="RestaurantModal" role="dialog">
    <section class="modal-dialog">
        <section class="modal-content">
            <section class="modal-body" id="modalBody">
                <!-- Filled by partial View, see JS at top of this file -->
                <!-- RenderPartial or Partial are no option, because they render it immediately (but we want the ticketscreen rendered after click) -->
            </section>
        </section>
    </section>
</section>

<footer>
    <script>
        $("#RestaurantModal").on("submit", "#ticketformid", function (e) {
            e.preventDefault();  // prevent standard form submission

            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                success: function (partialviewresult) {
                    $("#modalBody").html(partialviewresult);
                }
            });
        });

        var BookRestaurant = function (restaurantId) {
            var url = "/Food/BookRestaurant?restaurantId=" + restaurantId;
            $("#modalBody").load(url, function () {
                $("#RestaurantModal").modal("show");
            })
        };
    </script>
</footer>
